@model RouteTicket



<div class="mt-3 container">
    <div class="row">
        <div class="col-sm-2 mt-4">
            <ul class=" form-control text-white ">
                <li><a class="btn btn-primary mb-2 w-100" asp-controller="Admin" asp-action="ListRoute">Routes</a></li>
                <li> <a href="/admin/role/list" class="btn btn-primary mb-2 w-100">Roles</a></li>
                <li><a href="/admin/user/list" class="btn btn-primary mb-2 w-100">Users</a></li>
                <li><a class="btn btn-danger w-100" asp-controller="Account" asp-action="Logout">Log Out</a></li>
            </ul>
        </div>

        <div class="col-md-10">
            <h1 class="h3"> Check Ticket</h1> <hr /> <br />
            <table class="table table table-bordered shadow-sm mt-3">
                <thead>
                    <tr>
                        <th style="width:20px;">BiletID</th>
                        <th style="width:200px;">First name - Last name</th>
                        <th style="" width=120px>Phone</th>
                        <th style="width:90px">Peron No</th>
                        <th style="width:25px;">Start</th>
                        <th style="width:25px;">End</th>
                        <th style="width:80px;">Seat No</th>
                        <th style="width:80px;">Price</th>
                        <th style="width:85px;">Route No</th>
                        <th style="width:165px;">#</th>
                    </tr>
                <tbody>
                    @if (Model.Tickets.Count > 0)
                    {
        @foreach (var item in Model.Tickets)
        {
<tr>
    <td>@item.TicketId</td>
    <td>@item.CostumerName @item.CosturmerSurname</td>
    <td>@item.PhoneNumber</td>
    <td>@item.PeronNumber</td>
    <td>@item.TravelFrom</td>
    <td>@item.TravelTo</td>
    <td>@item.SeatNumber</td>
    <td>@item.Price ₺</td>
    <td>@item.RouteId</td>
    <td>
        <form action="CancelTicket" method="POST" style="display:inline;">
            <input type="hidden" name="ticketId" value="@item.TicketId" />
            <button type="submit" class="btn btn-danger btn-md mr-2" style="color: white;">Cancel Ticket</button>
        </form>

    </td>
</tr>} }
    else
    {
<tr>
    <td>EMPTY</td>
</tr>}
                </tbody>

            </table>
        </div>

    </div>
</div>